<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.email %></h1>
    <p>
      The price on <%= @item.name %> just got updated to <%= @item.price %>.
    </p>
    <p>
      Checkout the item here: <%= @url %>.
    </p>
  </body>
</html>
